body 
{
  padding-top: 5rem;
}
.header-template {
  padding: 3rem 1.5rem;
  text-align: center;
  /*pbl*/
  background-image:url(whale.jpg);
  background-size:cover;
}
a
{
	color: green;
}

h2, h3
{
	text-align: center;
}
footer
{
  border-top: 2px solide;
  border-color: green;
  /*la bordure ne fonctionne pas?*/
  text-align: center;
}
.picture
{
  background-position: center;
}
